@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

#comments-form {
  padding: 5px;
  
}

.comment-list {
  margin-top: 2em;
  border-style: solid;
  width: fit-content;
  display: inline-block;
  padding: 3em;
  
}

.form {
  
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 1rem;
  display: flex;
  justify-content: center;

}



